<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pptakfunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/688e1a4e-84c1-41b5-9eeb-633daa019ef5/resourceGroups/Free/providers/Microsoft.Web/sites/pptakfunc</ResourceId>
    <UserName>$pptakfunc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://pptakfunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>